# Python bytecode and cache
__pycache__/
*.py[cod]

# Django database and logs
*.log
*.sqlite3
db.sqlite3

# Virtual environment
project/

# IDE/editor configs
.vscode/
.idea/

# Environment/config files
.env